.container{
  height: 99vh;
  text-align: center;
  position: relative;
  @include display-flex;
  @include align-items(center);
  @include justify-content(center);
  .hello{
    line-height: 200%;
    width: 30%;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'helvetica';
    font-weight: 300;
    color: #555555;

    img{
      margin-bottom: 30px;
    }
    a{
      display: inline-block;
      margin-top: 30px;
      font-size: 16px;
      text-decoration: none;
      color: #F16E86;
    }
  }
  .languageSelect{
    @include appearance(none);
    position: absolute;
    bottom: 10px;
    right: 30px;
    background-color: transparent;
    border: 0px;
    font-size: 15px;
    letter-spacing: 2px;
    font-family: 'helvetica';
    color: #F16E86;
    font-weight: 300;
    outline: none;
  }
}
